@font-face {
  font-family: "coffeecake";
  src: url(../partenaires/dragon/fonts/CoffeCake.ttf)format("truetype");
}

@font-face {
  font-family: "mainfont";
  src: url(../partenaires/dragon/fonts/SalmaMedium.otf)format("truetype");
}

:root {
  --coffeecake: 'coffeecake', sans-serif;
}

:root {
  --mainfont: 'mainfont', sans-serif;
}

/* body {


  background: rgb(243, 235, 224);
  background: radial-gradient(circle, rgba(243, 235, 224, 1) 13%, rgba(206, 187, 173, 1) 62%, rgba(195, 162, 132, 1) 100%);
  ;
} */

#myall {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

header {
 width: 100vw;
  background: linear-gradient(180deg, rgba(106, 249, 164, 1) 0%, rgba(76, 76, 76, 1) 100%);
  position: fixed;
  opacity: 50%;
}

h1 {

  font-family: var(--coffeecake);
  font-size: 9rem !important;
  text-align: center;
}

p {
  font-family: var(--mainfont);
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("../../partenaires/dragon/assets/aubondragon03.webp");
}

.parallax2 {
  background-image: url("../../partenaires/dragon/assets/aubondragon02.webp");
}

.parallax3 {
  background-image: url("../../partenaires/dragon/assets/aubondragon01.webp");
}
