main {
    padding: 5% 0;
    background: $gradientbgmain;

    #container {
        border-radius: 20px;
        margin: 0 5% 2rem;
        padding: 0 5%;
        background: $gradientbgcontain;
        

        .maincontain {
            padding: 5%;
            border-radius: 40px;
            margin: 0.5rem auto;
            font-family: $breathe;
            text-align: center;
            
            

            h2 {
                text-align: center;
                margin-bottom: 3rem;
                font-family: $dalelandsBold;
                margin: 0;
                font-size: 2rem;
            }

            p {
                font-family: $breathe;
                color: $darkbluetext;

                &::first-letter {
                    font-size: 2rem;
                    padding-left: 2rem;
                }
            }

            a {
                color: $darkbluetext;
                text-decoration: none;

                p {
                    margin-top: 2rem;
                    text-align: end;

                    &::first-letter {
                        font-size: 1rem;
                    }

                    &:hover {
                        text-decoration: underline;
                        text-shadow: 1px 1px 0px;
                    }
                }
            }
        }
    }
}