// FOOTER
// *******************************
footer {
    overflow: hidden;
    position: relative;
    border-top: 2px solid $gregecolor;

    .containerfooter {
        background-color: black;

        #questrelicchaincarousel {
            width: 150px;
            height: 150px;
            margin: 0 auto;


            .buttocarousel {
                background-color: rgb(0, 0, 0);
                opacity: 50%;

                .carousel-control-prev-icon,
                .carousel-control-next-icon {
                    height: 150px;
                    width: 150px;
                }
            }

            .carousel-item {

                img {
                    width: 150px;
                    height: 150px;
                }
            }
        }

        #footercontent {
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 100%;



            p {
                margin-bottom: 0;
                font-family: $dalelands;
                padding: 1rem 0 0;
                color: $gregecolor;
            }
        }

        .copyright {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;

            #footerleft {
                display: flex;
                margin: 1rem 1rem 0;

                #charactercopyright {
                    font-size: 1rem;
                    font-family: $breathe;
                }

                p {
                    font-family: $dalelands;
                    margin: 0;
                    color: $gregecolor;
                    padding: 0 0.5rem 1rem 0;

                    a {
                        text-decoration: none;
                        color: $gregecolor;

                        &:hover {
                            text-shadow: 0.5px 0.5px;
                            text-decoration: underline;
                        }
                    }
                }

            }
        }

        #sitelink {

            ul {
                font-family: $dalelands;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin: 0;
                padding: 0 0.5rem 1rem 0;


                li {

                    list-style: none;
                    text-align: end;
                    padding-top: 1rem;

                    a {

                        text-decoration: none;
                        color: $gregecolor;

                        &:hover {
                            text-shadow: 0.5px 0.5px;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}