header {
    span {
        display: none;
    }

    background: $gradientbgcontain;
    display: flex;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-end;
    overflow: hidden;

    a {
        width: fit-content;
        height: fit-content;
        text-decoration: none;

        h1 {
            display: flex;
            flex-direction: row;
            margin-top: 1rem;
            margin-right: 0.5rem;
            width: max-content;
            font-size: 1.8rem;
            font-family: $darkshadow;
            color: rgb(0, 0, 0);

            span {
                display: block;
        
            }

        }
    }

    #logoSite {
        img {
            height: 100px;
            width: 100px;
        }
    }


}