header {
    span {
        display: none;
    }

    background: $gradientbgcontain;
    display: flex;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-end;

    a {
        width: fit-content;
        height: fit-content;
        text-decoration: none;

        h1 {
            margin-right: 1rem;
            width: max-content;
            font-size: 1.6rem;
            font-family: $darkshadow;
            color: rgb(0, 0, 0);
        }
    }

    #logoSite {
        img {
            height: 100px;
            width: 100px;
        }
    }


}