@font-face {
    font-family: "breathe";
    src: url(../assets/font/Breathe.ttf)format("truetype");
}
@font-face {
    font-family: "dalelands";
    src: url(../assets/font/Dalelands.ttf)format("truetype");
}
@font-face {
    font-family: "dalelandsBold";
    src: url(../assets/font/DalelandsBold.ttf)format("truetype");
}
@font-face {
    font-family: "dragonf";
    src: url(../assets/font/Dragonfly.ttf)format("truetype");
}
@font-face {
    font-family: "DarkXShadow";
    src: url(../assets/font/DarkXShadow.ttf) format("truetype");
}