.procontainer {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            margin: 0 auto;

            a {

                text-decoration: none;

                .imglogopro {
                    height: 100px;
                    width: 100px;
                }

                p {

                    text-align: center !important;
                    color: $darkbluetext;

                    &::first-letter {
                        padding-left: 0 !important;
                    }
                }

                &:hover {
                    text-decoration: underline;
                    text-shadow: 1px 1px 0px;
                }
            }
        }
    }
}

.olpolicy {
    list-style-type: disc;
    text-align: start;
}


#sidenav {
    display: flex;
    flex-direction: row-reverse;

    .design-visible {
        max-height: 200px !important;
    }

    #designimgscript {
        max-height: 0;
        background-image: url(../assets/design/knight01.webp);
        background-size: cover;
        width: 200px;
        height: 200px;
        overflow: hidden;
        transition: max-height 1s ease-in-out;

    }
}


#aboutusimg01 {
    background-image: url(../assets/design/design20.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 179.6px;
    height: 200px;
    margin: -70px auto 0;
}

#aboutusimg02 {
    background-image: url(../assets/design/design03.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 225.6px;
    height: 200px;
    margin: -70px auto 0;
}

#aboutusimg03 {
    background-image: url(../assets/design/design07.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: -70px auto 0;
}

#aboutusimg04 {
    background-image: url(../assets/design/design02.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 217.3px;
    height: 200px;
    margin: -70px auto 0;
}

#aboutusimg05 {
    background-image: url(../assets/design/design04.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 182px;
    height: 200px;
    margin: -70px auto 0;
}

#aboutusimg06 {
    background-image: url(../assets/design/design05.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 166.4px;
    height: 200px;
    margin: -70px auto 0;
}

#aboutusimg07 {
    background-image: url(../assets/design/design08.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 223.2px;
    height: 200px;
    margin: -70px auto 0;
}

#aboutusimg08 {
    background-image: url(../assets/design/design10.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 207.4px;
    height: 200px;
    margin: -70px auto 0;
}

#aboutusimg09 {
    background-image: url(../assets/design/design19.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 188px;
    height: 200px;
    margin: -70px auto 0;
}

#aboutusimg10 {
    background-image: url(../assets/design/design17.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 185.6px;
    height: 200px;
    margin: -70px auto 0;
}