      //contact form
      .containerform {
        form {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 3rem;
        }

        .textform {

            input {
                width: 10rem;
                color: $lightbg;
                margin: 0.5rem;
                border: none;
                border-radius: 10px;
                padding: 0.5rem 2rem;
                background: $gradientbgcontain;


                &::placeholder {
                    font-family: $dalelands;
                    color: $lightbg;
                }

                &:focus {
                    background: none;
                    background-color: $lightbg;
                    color: $darkbgandtext;
                    font-weight: bold;

                    &::placeholder {
                        color: $darkbgandtext;
                        font-weight: bold;
                    }
                }


                &:last-child {
                    margin-bottom: 0;

                }
            }

            display: flex;
            flex-direction: column;
        }

        textarea {
            width: 20rem;
            resize: none;
            color: $lightbg;
            padding: 1rem;
            margin-right: 1rem;
            border-radius: 10px;
            background: $gradientbgcontain;

            &:focus {
                background: none;
                background-color: $lightbg;
                color: $darkbgandtext;
                font-weight: bold;

                &::placeholder {
                    color: $darkbgandtext;
                    font-weight: bold;
                }
            }

            &::placeholder {

                font-family: $dalelands;
                color: $lightbg;

            }
        }

        button {
            border-radius: 10px;
            width: 80px;
            height: 30px;
            background: $gradientbgcontain;
            font-family: $dalelands;
            color: $lightbg;
            transition: all 0.5s cubic-bezier(0.10, 0, 0.1, -3);

            &:hover {
                scale: 1.4;

            }
        }

        #linkcontactpro {
            text-align: center;

            p {
                font-size: 0.8rem;
                margin: 0;
                padding: 0;

                a {
                    border-bottom: solid 1px $darkbgandtext;
                    color: $darkbgandtext;

                    &:hover {
                        text-shadow: 1px 1px 0px;
                    }
                }
            }
        }
    }