      //contact form
      .containerform {
          form {
              display: flex;
              align-items: center;
              flex-direction: column;
              padding-bottom: 3rem;
          }

          .textform {

              .myinput {
                  width: 4rem;
                  color: $darkbluetext;
                  margin: 0.5rem;
                  border-radius: 10px;
                  padding: 0.5rem 2rem;
                  background: $gradientbgcontain;


                  &::placeholder {
                      font-family: $dalelands;
                      color: $darkbluetext;
                  }

                  &:focus {
                      background: none;
                      background-color: $lighttext;
                      color: $darkbluetext;
                      font-weight: bold;

                      &::placeholder {
                          color: $darkbluetext;
                          font-weight: bold;
                      }
                  }


                  &:last-child {
                      margin-bottom: 0;

                  }
              }

              display: flex;
              flex-direction: column;
          }

          textarea {
              width: 10rem;
              resize: none;
              color: $darkbluetext;
              margin: 1rem 0;
              padding: 1rem;
              margin-right: 1rem;
              border-radius: 10px;
              background: $gradientbgcontain;

              &:focus {
                  background: none;
                  background-color: $lighttext;
                  color: $darkbluetext;
                  font-weight: bold;

                  &::placeholder {
                      color: $darkbluetext;
                      font-weight: bold;
                  }
              }

              &::placeholder {

                  font-family: $dalelands;
                  color: $darkbluetext;

              }
          }

          #linkcontactpro {
              text-align: center;

              p {
                  font-size: 0.8rem;
                  margin: 0;
                  padding: 0;

                  a {
                      border-bottom: solid 1px $darkbluetext;
                      color: $darkbluetext;

                      &:hover {
                          text-shadow: 1px 1px 0px;
                      }
                  }
              }
          }
      }