//social média
#socialmedianav {
    margin: 0;

    ul {
        list-style: none;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        li {
            margin: 0 0.4rem;
        }
    }

    .socialmedialogo {
        border-radius: 50%;
        transition: 0.3s ease-in-out;
        border: solid 2px $gregecolor;
        margin-top: 0.5rem;
        height: 35px;
        width: 35px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;

        &:hover {
            border-radius: 50%;
            background-position: bottom;
        }
    }

    #facebooklogo {
        background-image: url(../assets/logo/socialmedia/facebooklogo.webp);

    }

    #instagramlogo {
        background-image: url(../assets/logo/socialmedia/instagramlogo.webp);

    }

    #twitterlogo {
        background-image: url(../assets/logo/socialmedia/twitterlogo.webp);

    }

    #tiktoklogo {
        background-image: url(../assets/logo/socialmedia/tiktoklogo.webp);

    }

    #youtubelogo {
        background-image: url(../assets/logo/socialmedia/youtubelogo.webp);

    }

    #linkedinlogo {
        background-image: url(../assets/logo/socialmedia/linkedinlogo.webp);

    }
}