//Fonts
$breathe: 'breathe', serif;
$dalelands: 'dalelands', sans-serif;
$dalelandsBold: 'dalelandsBold', sans-serif;
$dragonf: 'dragonf', sans-serif;
$darkshadow: 'DarkXShadow', sans-serif;

//COLOR
$gregecolor: #ccc6b9;
$lightbg: #EEEEEE;
$darkbgandtext: rgb(31, 31, 31);

//Gradient 
$gradientbgmain: linear-gradient(132deg, rgba(56, 104, 115, 1) 0%, rgba(29, 54, 55, 1) 50%, rgba(13, 11, 12, 1) 100%);
$gradientbgcontain: linear-gradient(132deg, rgba(255, 242, 188, 1) 0%, rgba(255, 224, 194, 1) 50%, rgba(251, 216, 202, 1) 100%);